* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: rgb(36, 95, 90);
}

.memory-game {
  width: 700px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.memory-card:active {
  transform: scale(1.5);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotatey(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 25px;
  background: rgb(55, 104, 144);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


.col-md-3.sidebar {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  bottom: 0;
  padding: 3vw;
}
.col-md-3.sidebar h3 {
  width: 33%;
  float: left;
  padding: 1vw;
}
.col-md-3.sidebar h4 {
  font-size: 2vw;
  width: 33%;
  float: left;
  padding: 1vw;
}


button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 2vw;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  text-align: center;
  color: rgb(0, 0, 0);
  top: 0;
  right: 0;
  margin: 2vw;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#timer {
  position: fixed;
  padding: 2vw;
  font-size: 4vw;
  font-family: tahoma;
  top: 0;  
}